::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
::-webkit-scrollbar-thumb {
  background: #888; 
}

::-webkit-scrollbar-thumb:hover {
  background: #555; 
}
html,body{
  text-align:center;
  margin:auto;
  background-color:limegreen;
  color:white;
}
.container{
  top: 10%;
  left: 50%;
  transform: translate(-50% , -10%);
  position: absolute;
  background-color:black;
  box-shadow:2px 2px 2px lightgrey;
  border-radius:15px;
  padding:10px;
  overflow-y:scroll;
  max-height:700px;

}
.input-task{
padding:10px;
border-radius:15px;
font-size:24px;
}
h1{
  text-align:center;
  margin:auto;
  margin-bottom:10px;
}
.todo-list{
  text-align:left;

}
.list-item{
  font-size:25px;
  font-weight:bold;
  margin:25px;
 
}
.btn{
  padding:5px;
  border-radius:4px;
  box-shadow:2px 2px 2px lightgrey;
  cursor:pointer;
  background-color:white;
  font-size:22px;
  margin:5px;
}
.remove{
  padding-left:10px;
  margin-left:10px;
}
